<div class="w-50 mx-auto">
  <h1 class="text-center m-5">User Registration Form</h1>
  <form #ref="ngForm" (ngSubmit)="addUserData(ref)">
    <div class="mb-3">
      <label for="un" class="form-label">Username</label>
      <input type="text" name="username" id="un" class="form-control" ngModel>
    </div>
    <div class="mb-3">
      <label for="dob" class="form-label">DOB</label>
      <input type="date" name="dob" id="dob" class="form-control" ngModel>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email ID</label>
      <input type="email" name="email" id="email" class="form-control" ngModel>
    </div>
    <button type="submit" class="d-block mx-auto m-3 btn btn-primary">Submit</button>
  </form>
  <div>
    <div *ngIf="users.length==0" class="text-center">
      <i class="fa fa-search fa-5x my-5"></i>
      <p>No users found!</p>
    </div>
    <table class="table" *ngIf="users.length>0">
      <th>Username</th>
      <th>DOB</th>
      <th>Email</th>
      <tbody>
        <tr *ngFor = "let user of users">
          <td>{{user.username}}</td>
          <td>{{user.dob}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
