<div class="w-50 mx-auto mt-5 text-center">
  <h1>ToDo List</h1>
    <input type="text" name="" id="" class="form-control" [(ngModel)]="item">
    <button class="btn btn-primary" (click) = "addItem()">Add</button>

      <div class="my-5" *ngIf = "items.length == 0">
        <i class="fas fa-search fa-5x"></i>
        <p class="mt-5">No items found!</p>
      </div>

      <div class="card text-left" *ngIf = "items.length != 0">
        <ul class="list-group list-group-flush" *ngFor="let item of items; let ind = index;">
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
                  <div>
                    {{item}}
                  </div>
                  <div>
                    <button (click) = "deleteItem(ind)"><i class="fas fa-trash-alt"></i></button>
                  </div>
            </div>
          </li>
          
        </ul>
      </div>

</div>
