<div class="container mt-5 text-center">
    <div class="row p-5 mx-0">
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Romance</a>
        </div>   
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Action & Adventure</a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Mystery & Thriller</a>
        </div>
    </div>
    <div class="row p-5 mx-0">
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Biographies & History</a>
        </div>   
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Childern's</a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Young Adult</a>
        </div>
    </div>
    <div class="row p-5 mx-0">
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Fantacy</a>
        </div>   
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Science Fiction</a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary" routerLink="textbooks">Horror</a>
        </div>
    </div>
</div>

