<div class="row m-0">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form class="border m-5 p-5 shadow">
            <h2 class="mb-5 text-center">Contact us</h2>
            <p>For all enquiries use the form below</p>
            <div class="mb-3">
              <label for="message" class="form-label"><strong>How can we help you?</strong></label>
              <textarea type="text" class="form-control" id="message"></textarea>
            </div>
            <div class="text-center mt-5">
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>


