<div class="row m-0">
    <div class="col-sm-0 col-lg-4"></div>
    <div class="col-sm-12 col-lg-4">
        <form class="border m-5 p-5 shadow">
            <h2 class="mb-5 text-center">Register</h2>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Moblie Number</label>
              <input type="phone" class="form-control" id="phone">
          </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="text-center mt-5">
              <button type="submit" class="btn btn-primary w-100">Register</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-md-4"></div>
</div>


